.header-top {
    background-color: var(--header-background);
    border-bottom: 1px solid var(--header-border);
}

.header-upper {
    background-color: var(--header-background);
}

.header-upper .input-group-text {
    background-color: var(--color-febd69);
}

.header-upper .header-upper-links img {
    width: 30px;
    height: 30px;
}

.gap-10 {
    gap: 10px;
}